<%- include ('header'); -%>

<main>
    <div class="cards">

        <div  class="card-single">
            <div>
              <a class="navigate" href="/hospitals">
                 <h1><a class="navigate" href="/hospitals">100+</a></h1>
                <span>Hospitals</span>
              </a>
            </div>
            <div>
                <span class="las la-users"></span>
            </div>
        </div>
      <div class="card-single">
          <div>
            
              <h1> <a class="navigate" href="/clinics">100+</a> </h1>
              <span>Clinics</span>
          </div>
          <div>
              <span class="las la-clipboard-list"></span>
          </div>
      </div>
      <div class="card-single">
          <div>
            
              <h1><a class="navigate" href="/laboratory">50+</a></h1>
              <span>Laboratory</span>
          </div>
          <div>
              <span class="las la-clipboard-list"></span>
          </div>
      </div>
      <div class="card-single">
          <div>
            
              <h1><a class="navigate" href="/medicine">50+</a></h1>
              <span>Medicine Outlet</span>
          </div>
          <div>
              <span class="las la-shopping-bag"></span>
          </div>
      </div>
      <div class="card-single">
          <div>
           
              <h1><a class="navigate" href="/ambulance">50+</a></h1>
              <span>Ambulance</span>
          </div>
          <div>
              <span class="las la-shopping-bag"></span>
          </div>
      </div>
      <div class="card-single">
          <div>
              <h1><a class="navigate" style="color: white;" href="/police">24/7</a></h1>
              <span>Police</span>
          </div>
          <div>
              <span class="lab la-google-wallet"></span>
          </div>
      </div>
     
    </div>
</main>

<script src="/JS/basic.js"></script>
</body>
</html>